
.footer {
	margin-top: auto;
	padding: 3rem 0;
	background-color: #212529;
	color: #fff;
	font-family: quicksand, sans-serif;
}

.btn-principal {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #16b7b9 !important;
	border: none;
	border-radius: 10px;
	min-width: 100px;
	height: 35px;
	font-size: medium !important;
	color: white;
	font-weight: 400;
	font-family: quicksand, sans-serif !important;
	cursor: pointer;
}

.btn-principal:hover {
	background-color: #309b9c;
	transition: all 0.2s ease 0s;
}

.btn-principal:active {
	background-color: #51c3c5 !important;
}

.btn-principal.submit {
	margin-top: 5px !important;
}
.btn-disabled {
	background-color: #cfcfcf !important;
}

.btn-secundario {
	padding: 0;
	background-color: #212529;
	border: none;
	border-radius: 10px;
	min-width: 100px;
	height: 35px;
	font-size: medium;
	color: white;
	font-weight: 400;
	font-family: quicksand, sans-serif;
	cursor: pointer;
}

.btn-secundario:hover {
	background-color: #47494b;
	transition: all 0.2s ease 0s;
}

.btn-secundario:active {
	background-color: #16b7b9 !important;
}

.btn-secundario.submit {
	padding: 0;
	background-color: #ffffff;
	border: 4px solid #16b7b9;
	width: 400px;
	font-size: 20px;
	height: 40px;
	font-weight: 500;
	color: #16b7b9;
	
}

.btn-secundario.submit:hover {
	background-color: #ebebeb;
}

.custom-modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 3rem;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.perfil {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	background-color: #ffffff;
	margin: 20px auto;
	width: 950px;
	@media (max-width: 768px) {
		width: 100%;
	  }

}

.perfil-image{
	width: 150px !important;
	height: 150 !important;
	box-shadow: 0 0 6px 5px rgba(0, 215, 142, .7);
	
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	background-color: #ffffff;
	margin: 20px auto;
	width: 50%;
	min-height: 50vh;
	@media (max-width: 768px) {
		width: 90%;
	}
  }

.form-container.fluid{
	width: 50% !important;
}

.border-14{
	border-radius: 14px !important;
}

.dialog {
	display: flex;
	flex-direction: column;
	overflow-y: scroll !important;
	border-top: 1px solid #ebebeb !important;
}

.dialog::-webkit-scrollbar {
	width: 0em; /* Ancho del scroll, ajusta según sea necesario */
  }

  /* width */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #47494b;
	cursor: pointer;
  }

.dialog-title{
	font-family: quicksand, sans-serif !important;
	font-size: x-large !important;
	color: #5a5a5a !important;
}

.dialog-subtitle{
	margin: 10px 0px 10px 0px;
	color: #FF5B31;
	font-family: quicksand, sans-serif;
	font-size: large !important;
	
}

.dialog-confirm-btn{
	margin: 10px 10px 10px 0px !important;
	background-color: #FF5B31 !important;
	letter-spacing: 1px !important;
	font-family: quicksand, sans-serif !important;
}

.dialog-close-btn{
	margin: 10px 15px 10px 0px !important; 
	letter-spacing: 1px !important;
	border: 1px solid #212529 !important;
	color: #212529 !important;
	font-family: quicksand, sans-serif !important;
}

.z-index-0{
	z-index: 0 !important;
}

.shadow-dreamy {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.shadow-4{box-shadow:0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15)}
.shadow-5{box-shadow:0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12)}
.shadow-6{box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 8px 8px rgba(0,0,0,0.11),0 16px 16px rgba(0,0,0,0.11),0 32px 32px rgba(0,0,0,0.11)}
.shadow-sharp{box-shadow:0 1px 1px rgba(0,0,0,0.25),0 2px 2px rgba(0,0,0,0.2),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.1),0 16px 16px rgba(0,0,0,0.05)}
.shadow-diffuse{box-shadow:0 1px 1px rgba(0,0,0,0.08),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.16),0 8px 8px rgba(0,0,0,0.2)}
.shadow-shorter{box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11)}
.shadow-longer{box-shadow:0 2px 1px rgba(0,0,0,0.09),0 4px 2px rgba(0,0,0,0.09),0 8px 4px rgba(0,0,0,0.09),0 16px 8px rgba(0,0,0,0.09),0 32px 16px rgba(0,0,0,0.09)}


.form-input {
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
	border-bottom: 2px solid #16b7b9;
	min-width: 100%;
	font-size: 16px;
	font-family: quicksand, sans-serif;
	color: #47494b;
}

.invalid {
	border-bottom: 2px solid red;
}

.forms-header {
	font-family: Quicksand, sans-serif;
	font-weight: 500;
	color: #16b7b9;
	margin: 15px 0px 10px 0px;
}

.forms-sub-header {
	font-family: Quicksand, sans-serif;
	font-weight: 500;
	color: #16b7b9;
	margin: 35px 0px 5px 0px;
}

.btn-link{
	background-color: none;
	align-items: end;
	justify-content: end;
}

.btn-disabled {
	padding: 0;
	background-color: #5a5a5a;
	border: none;
	border-radius: 10px;
	min-width: 100px;
	height: 35px;
	font-size: medium;
	color: white;
	font-weight: 400;
}


.nav-link {
	color: white !important;
	font-family: quicksand, sans-serif !important;
	background-color: #212529 !important;
	border: none;
	
}

.nav-link:hover {
	color: #cacaca !important;
}

.nav-link.item{
	color: black !important;
}

.nav-link.item:hover{
	background-color: #ebebeb;
}

.dropdown-menu{
	--bs-dropdown-bg: #212529;
	border: none;
}

.dropdown-menu .active{
	color: #cacacaef !important;
}

.striped-row-even {
    background-color: #F5F5F5;
	cursor: pointer;
}

.striped-row-odd {
    background-color: #FFFFFF;
	cursor: pointer;

 }

 .edit-icon{
	cursor: pointer;
	color: #212529;
 }
 .edit-icon.empresa{
	margin: 41px 0px 0px 5px;
 }

 .edit-icon:hover{
	color: #FF5B31;
	transition: all 0.2s ease 0s;
 }

 .delete-icon{
	cursor: pointer;
	color: #212529;
	
 }

 .delete-icon:hover{
	color: red;
	transition: all 0.2s ease 0s;
 }

 .asignar-btn{
	cursor: pointer;
	color: #FF5B31 !important;
	font-weight: 500 !important;
	letter-spacing: 1px !important;
	font-family: quicksand, sans-serif !important;
	
 }

 .asignar-btn:hover{
	font-weight: bold !important;
	transition: all 0.2s ease 0s;
	background-color: transparent !important;
 }

.MuiDataGrid-cell {
	outline: none !important;
  }

.Mui-selected{
	background-color: #ff5a3113 !important;
}

.main-font{
	font-family: quicksand, sans-serif;
}
