.footer {
	height: 180px;
	flex-shrink: 0;
	padding: 3rem;
	background-color: #212529;
	color: #fff;
}

.btn-principal {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #16b7b9;
	border: none;
	border-radius: 10px;
	min-width: 100px;
	height: 35px;
	font-size: medium;
	color: white;
	font-weight: 400;
	cursor: pointer;
}

.btn-principal:hover {
	background-color: #309b9c;
	transition: all 0.2s ease 0s;
}

.btn-principal:active {
	background-color: #51c3c5 !important;
}

.btn-principal.submit {
	padding: 0;
	width: 400px;
	font-size: 20px;
	height: 40px;
	font-weight: 500;
}
.btn-disabled{
	background-color: #cfcfcf !important;
}

.btn-secundario {
	padding: 0;
	background-color: #212529;
	border: none;
	border-radius: 10px;
	min-width: 100px;
	height: 35px;
	font-size: medium;
	color: white;
	font-weight: 400;
	cursor: pointer;
}

.btn-secundario:hover {
	background-color: #47494b;
	transition: all 0.2s ease 0s;
}

.btn-secundario:active {
	background-color: #16b7b9 !important;
}

.btn-secundario.submit {
	padding: 0;
	background-color: #ffffff;
	border: 4px solid #16b7b9;
	width: 400px;
	font-size: 20px;
	height: 40px;
	font-weight: 500;
	color: #16b7b9;
}

.btn-secundario.submit:hover {
	background-color: #ebebeb;
}

.custom-modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 3rem;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	background-color: #ffffff;
	margin: 20px auto;
	width: 50%;
  
	@media (max-width: 768px) {
	  width: 90%;
	}
  }

.shadow-dreamy {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.form-input {
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
	border-bottom: 2px solid #16b7b9;
	width: 400px;
	font-size: 16px;
	color: #47494b;
}

.invalid {
	border-bottom: 2px solid red;
}

.forms-header {
	color: #16b7b9;
	margin: 15px 0px 10px 0px;
}

.forms-sub-header {
	color: #16b7b9;
	margin: 15px 0px 5px 0px;
}

.btn-link{
	background-color: none;

	align-items: end;
	justify-content: end;
}

.btn-disabled {
	padding: 0;
	background-color: #5a5a5a;
	border: none;
	border-radius: 10px;
	min-width: 100px;
	height: 35px;
	font-size: medium;
	color: white;
	font-weight: 400;
}

.nav-link {
	color: white !important;
}

.nav-link:hover {
	color: #cacaca !important;
}

.nav-link.item{
	color: black !important;
}

.nav-link.item:hover{
	background-color: #ebebeb;
}